*{
    margin: 0px;
}
header{
    background-image: url(Banner.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 886px;
    width: 100%;
}
.first{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10px;
    width: 60%;
    padding: 35px 304px;
    position: fixed;
    background-color: rgba(109, 113, 109, 0.451);
}
.first a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;
}
.first a:first-child{
    color: rgb(1, 240, 1);
}
.first select{
    background-color: rgba(109, 113, 109, 0);
    border: none;
    color: whitesmoke;
    font-size: 25px;
}
.first option{
    color: brown;
}
.header-after{
    height: 900px;
    width: 100%;
    background-image: url(./Thancos-Web-bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.text-area{
    display: flex;
    justify-content: center;
    font-family: satisfy;
    font-size: 23px;
    color: white;
}
.quality{
    margin-top: 100px;
    margin-right: 390px;
    width: 24%;
    height: 400px;
}
.quality img{
    padding-left: 160px;
}
.quality p:nth-child(2){
    padding-left: 150px;
    color: brown;
}
.awards{
    margin-top: 100px;
    width: 24.5%;
    height: 650px;
}
.awards img:first-child{
    padding-left: 125px;
}
.awards img:last-child{
    padding-left: 100px;
}
.awards p:nth-child(2){
    padding-left: 115px;
    color: brown;
}
.middle{
    background: radial-gradient(whitesmoke,rgb(0, 218, 0));
    height: 800px;
    font-family: satisfy;
    font-size: 21px;
    color: white;
}
.middle-area{
    padding-top: 100px;
    margin-left: 200px;
    width: 75%;
    height: 600px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;
}
.flavours{
    width: 320px;
    background-image: url(Flavours.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:425px;
    
}
.flavours p:first-child{
    padding-top: 100px;
    padding-left: 130px;
}
.flavours p:last-child{
    padding-left: 10px;
}
.stores{
    width: 320px;
    background-image: url(Stores.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:410px;
}
.stores p:first-child{
    padding-top: 150px;
    padding-left: 140px;
}
.stores p:last-child{
    padding-left: 10px;
}
.franchise{
    width: 320px;
    background-image: url(Franchise.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:425px;
}
.franchise p:first-child{
    padding-top: 110px;
    padding-left: 120px;
}
.franchise p:last-child{
    padding-left: 10px;
}
.middle-after{
    background-image: url(middle-after.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
    font-family: satisfy;
    padding-top: 20px;
    padding-left: 200px;
}
.middle-after p{
    font-size: 30px;
}
.middle-after input{
    width: 85%;
    height: 50px;
    background-color: inherit;
    border: solid 1px white;
    border-radius: 5px;
    color: white;
}
input::placeholder{
    color: white;
    padding-left: 10px;
}
textarea{
    width: 85%;
    height: 150px;
    background-color: inherit;
    color: white;
    border-color: white;
}
textarea::placeholder{
    color: white;
    padding-top: 20px;
    padding-left: 10px;
    font-family: satisfy;
}
button{
    margin-left: 76.3%;
    margin-top: 30px;
    height: 50px;
    width: 120px;
    background-color: inherit;
    font-size: 21px;
    color: yellow;
    border: solid ;
    border-radius: 5px;
}
button:hover{
    color: blue;
    cursor: pointer;
}